<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    Welcome to my website: <%= appName %>
    <% for (i = 0; i < accountsLength; i += 1) { %>
        <li> <%= accounts[i].username + " Balance: " + accounts[i].balance + ' Password: ' + accounts[i].password %> </li>
        <% } %>
        
</body>
</html>